## Projet_Final   [ Urich Tagne Kouam & Desira Semeglo  ]

## Regression

## Importation des librairies

In [1]:
# Load libraries
# Prepare Problem
import warnings
import numpy as np
warnings.filterwarnings('ignore')
from matplotlib import pyplot
from pandas import read_csv
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from pandas import read_csv # import pandas.read_csv as read
# Import matplotlib pour la visualisation

## Importation des donnees

In [2]:
filename = 'imports-85.csv'

data = read_csv(filename, header=None)
print(data)
'''
## affichage des donnees 
## Nos donnees ont 26 colonnes et 205 rangers
## notre analyse est centre sur different type de vehicules
'''

     0    1            2       3      4     5            6    7      8   \
0     3    0  alfa-romero     gas    std   two  convertible  rwd  front
1     3    0  alfa-romero     gas    std   two  convertible  rwd  front
2     1    0  alfa-romero     gas    std   two    hatchback  rwd  front
3     2  164         audi     gas    std  four        sedan  fwd  front
4     2  164         audi     gas    std  four        sedan  4wd  front
..   ..  ...          ...     ...    ...   ...          ...  ...    ...
200  -1   95        volvo     gas    std  four        sedan  rwd  front
201  -1   95        volvo     gas  turbo  four        sedan  rwd  front
202  -1   95        volvo     gas    std  four        sedan  rwd  front
203  -1   95        volvo  diesel  turbo  four        sedan  rwd  front
204  -1   95        volvo     gas  turbo  four        sedan  rwd  front

        9   ...   16    17    18    19    20   21    22  23  24     25
0     88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
1     88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
2     94.5  ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
3     99.8  ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
4     99.4  ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
..     ...  ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
200  109.1  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
201  109.1  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
202  109.1  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
203  109.1  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
204  109.1  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[205 rows x 26 columns]

In [3]:

types = data.dtypes
print(types)

0       int64
1       int64
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18    float64
19    float64
20    float64
21      int64
22      int64
23      int64
24      int64
25      int64
dtype: object

### Data cleansing

In [4]:
#data_miss = data.copy()
#data = data_miss.replace({ '?': np.nan})

#df = df_miss.replace({None:np.nan, '': np.nan, '?': np.nan})
#print(data)
'''
# a partir de la fonction drop(), nous allons supprimer 
toute les valeurs de type string.

'''
#
reduce_data = data.head()

data.drop(2,axis = 1, inplace=True)
data.drop(3,axis = 1, inplace=True)
data.drop(4,axis = 1, inplace=True)
data.drop(5,axis = 1, inplace=True)
data.drop(6,axis = 1, inplace=True)
data.drop(7,axis = 1, inplace=True)
data.drop(8,axis = 1, inplace=True)
data.drop(14,axis = 1, inplace=True)
data.drop(15,axis = 1, inplace=True)
data.drop(17,axis = 1, inplace=True)

data

,0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25
0,3,0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,3,0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,1,0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625

## Interpolation

In [11]:
data = data.interpolate(method='linear', limit_direction='backward')
data_backward = data.copy()
'''
remplacons les valeurs NaN avec la methode bfill(juste les valeurs avant)
'''
data_backward = data_backward.fillna(method='bfill') # bfill back:  backward fill
print(data_backward)

     0    1      9      10    11    12    13   16    18    19    20   21  \
0     3    0   88.6  168.8  64.1  48.8  2548  130  3.47  2.68   9.0  111
1     3    0   88.6  168.8  64.1  48.8  2548  130  3.47  2.68   9.0  111
2     1    0   94.5  171.2  65.5  52.4  2823  152  2.68  3.47   9.0  154
3     2  164   99.8  176.6  66.2  54.3  2337  109  3.19  3.40  10.0  102
4     2  164   99.4  176.6  66.4  54.3  2824  136  3.19  3.40   8.0  115
..   ..  ...    ...    ...   ...   ...   ...  ...   ...   ...   ...  ...
200  -1   95  109.1  188.8  68.9  55.5  2952  141  3.78  3.15   9.5  114
201  -1   95  109.1  188.8  68.8  55.5  3049  141  3.78  3.15   8.7  160
202  -1   95  109.1  188.8  68.9  55.5  3012  173  3.58  2.87   8.8  134
203  -1   95  109.1  188.8  68.9  55.5  3217  145  3.01  3.40  23.0  106
204  -1   95  109.1  188.8  68.9  55.5  3062  141  3.78  3.15   9.5  114

       22  23  24     25
0    5000  21  27  13495
1    5000  21  27  16500
2    5000  19  26  16500
3    5500  24  30  13950
4    5500  18  22  17450
..    ...  ..  ..    ...
200  5400  23  28  16845
201  5300  19  25  19045
202  5500  18  23  21485
203  4800  26  27  22470
204  5400  19  25  22625

[205 rows x 16 columns]

## Transformation rescale

In [6]:
from sklearn.preprocessing import MinMaxScaler
from numpy import set_printoptions
data = data_backward
array = data.values
# split inputs and outputs 
# inputs as x and output as y
X = array[:,1:-1] # excludes the class (input)
Y = array[:,-1]   # Includes only the class ( output)
#Without Rescale 
set_printoptions(precision=3)
print(X[0:5,:])

[[0.000e+00 8.860e+01 1.688e+02 6.410e+01 4.880e+01 2.548e+03 1.300e+02
  3.470e+00 2.680e+00 9.000e+00 1.110e+02 5.000e+03 2.100e+01 2.700e+01]
 [0.000e+00 8.860e+01 1.688e+02 6.410e+01 4.880e+01 2.548e+03 1.300e+02
  3.470e+00 2.680e+00 9.000e+00 1.110e+02 5.000e+03 2.100e+01 2.700e+01]
 [0.000e+00 9.450e+01 1.712e+02 6.550e+01 5.240e+01 2.823e+03 1.520e+02
  2.680e+00 3.470e+00 9.000e+00 1.540e+02 5.000e+03 1.900e+01 2.600e+01]
 [1.640e+02 9.980e+01 1.766e+02 6.620e+01 5.430e+01 2.337e+03 1.090e+02
  3.190e+00 3.400e+00 1.000e+01 1.020e+02 5.500e+03 2.400e+01 3.000e+01]
 [1.640e+02 9.940e+01 1.766e+02 6.640e+01 5.430e+01 2.824e+03 1.360e+02
  3.190e+00 3.400e+00 8.000e+00 1.150e+02 5.500e+03 1.800e+01 2.200e+01]]

In [7]:
scaler = MinMaxScaler(feature_range = (0,1))
rescaledX = scaler.fit_transform(X)
#Summarize transform data
set_printoptions(precision = 3)
print(rescaledX[0:5,:])

[[0.    0.058 0.413 0.317 0.083 0.411 0.26  0.881 0.643 0.125 0.385 0.758
  0.222 0.289]
 [0.    0.058 0.413 0.317 0.083 0.411 0.26  0.881 0.643 0.125 0.385 0.758
  0.222 0.289]
 [0.    0.23  0.449 0.433 0.383 0.518 0.343 0.68  0.832 0.125 0.535 0.758
  0.167 0.263]
 [0.641 0.385 0.53  0.492 0.542 0.329 0.181 0.81  0.815 0.188 0.354 0.833
  0.306 0.368]
 [0.641 0.373 0.53  0.508 0.542 0.518 0.283 0.81  0.815 0.062 0.399 0.833
  0.139 0.158]]

In [8]:
# Separate array into input and output components  
#accuracy = precision
X = array[:,0:-1] # input
Y = array[ :,-1] # output
size = 0.33
# Split de train and test
seed = 7 # DEVOIR
X_train,X_test, Y_train, Y_test = train_test_split(X, Y, test_size = size, random_state=seed)
# Training Steps
model = LogisticRegression()
# Learning / Apprentissage
model.fit(X_train, Y_train) # Apprentissage
result = model.score(X_test, Y_test) # Prediction -> Success rate (Accuracy)
print("Accuracy: %.3f %%" % (result*100.0))

Accuracy: 4.412 %

## transformation standard

In [9]:
X = array[:,1:-1] # excludes the class (input)
Y = array[:,-1] 
set_printoptions(precision=3)
print(X[0:5,:])

[[0.000e+00 8.860e+01 1.688e+02 6.410e+01 4.880e+01 2.548e+03 1.300e+02
  3.470e+00 2.680e+00 9.000e+00 1.110e+02 5.000e+03 2.100e+01 2.700e+01]
 [0.000e+00 8.860e+01 1.688e+02 6.410e+01 4.880e+01 2.548e+03 1.300e+02
  3.470e+00 2.680e+00 9.000e+00 1.110e+02 5.000e+03 2.100e+01 2.700e+01]
 [0.000e+00 9.450e+01 1.712e+02 6.550e+01 5.240e+01 2.823e+03 1.520e+02
  2.680e+00 3.470e+00 9.000e+00 1.540e+02 5.000e+03 1.900e+01 2.600e+01]
 [1.640e+02 9.980e+01 1.766e+02 6.620e+01 5.430e+01 2.337e+03 1.090e+02
  3.190e+00 3.400e+00 1.000e+01 1.020e+02 5.500e+03 2.400e+01 3.000e+01]
 [1.640e+02 9.940e+01 1.766e+02 6.640e+01 5.430e+01 2.824e+03 1.360e+02
  3.190e+00 3.400e+00 8.000e+00 1.150e+02 5.500e+03 1.800e+01 2.200e+01]]

In [10]:
scaler = StandardScaler().fit(X)
rescaledX = scaler.transform(X)
#Summarize transform data
set_printoptions(precision = 3)
print(rescaledX[0:5,:])

[[-1.679 -1.691 -0.427 -0.845 -2.02  -0.015  0.074  0.384 -0.934 -0.288
   0.191 -0.109 -0.647 -0.546]
 [-1.679 -1.691 -0.427 -0.845 -2.02  -0.015  0.074  0.384 -0.934 -0.288
   0.191 -0.109 -0.647 -0.546]
 [-1.679 -0.709 -0.232 -0.191 -0.544  0.515  0.604 -1.095  0.507 -0.288
   1.246 -0.109 -0.953 -0.692]
 [ 1.142  0.174  0.207  0.137  0.236 -0.421 -0.431 -0.14   0.38  -0.036
  -0.03   0.613 -0.187 -0.109]
 [ 1.142  0.107  0.207  0.23   0.236  0.517  0.219 -0.14   0.38  -0.541
   0.289  0.613 -1.106 -1.274]]